<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        background-color: gray;
        font-family: "Space Mono", monospace;
        text-align: center;
    }

    h1{
        color: rgb(225, 205, 175);
        padding-top: 20%;
    }

    h2{
        color: rgb(111, 96, 96);
    }

    button{
        font-size: large;
    }
</style>
<body>
    <h1>Welcome. Please log in.</h1>
    <form action="/signup" method= "POST">
        <p><input type="text" name="username" placeholder="Enter username"></p>
        <p><input type="password" name="password" placeholder="Enter password"></p>

        <input type="submit" value="Sign up!">
    </form>
</body>
</html>