<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alice in Borderland</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

</head>
<style>
    *{
        background-color: gray;
        font-family: "Space Mono", monospace;
        text-align: center;
    }

    h1{
        color: rgb(225, 205, 175);
        padding-top: 20%;
    }

    h2{
        color: rgb(111, 96, 96);
    }

    button{
        font-size: large;
    }
</style>

<body>
    <h1>Welcome to Room Four. Is there a pattern?</h1>
    <h2>Choose between 'Life' or 'Death'</h2>
    <button class="button"> <a href='/lose'>Life</a> </button>
    <button class="button"> <a href='/room5'>Death</a> </button>

</body>
</html>